[Unit]
Description=Runnign database service

[Service]
Type=simple
User={{ mongodb_user }}
Group={{ mongodb_group }}
ExecStart={{ mongodb_path }}/{{ mongodb_version }}/bin/mongod --dbpath {{ mongodb_system_dirs.data }} --logpath {{ mongodb_system_dirs.logs }}/mongod.log 

[Install]
WantedBy=multi-user.target
